:root {
  --dark-color: #333;
  --light-color: #fff;
  --blue-color: #2690d4;
  --light-gray-color: #eaeaea;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    'header header'
    'sectionA sectionA'
    'sectionB sectionB'
    'sectionC sectionC'
    'sectionD sectionE'
    'footer footer';
}

.gridSection {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  justify-content: center;

  padding: 0 20px;
}

.gridSectionContent {
  grid-column: 2/4;

  margin: 70px 0;
}

.header {
  grid-area: header;

  position: relative;
}

.sectionA {
  display: grid;

  grid-area: sectionA;

  background-color: var(--light-gray-color);
  color: var(--dark-color);
}

.sectionB {
  grid-area: sectionB;
}

.sectionC {
  grid-area: sectionC;

  background: var(--light-color);
  color: var(--dark-color);
}

.sectionD {
  grid-area: sectionD;

  background-color: var(--blue-color);
}

.sectionE {
  grid-area: sectionE;

  background-color: var(--dark-color);
}

.footer {
  grid-area: footer;

  padding: 2em;
  background: #000;
  color: var(--light-color);
}

.footer div {
  grid-column: span 2;
}

.textContent {
  padding: 1em 0;
}

.sectionA .textContent {
  column-count: 2;
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--dark-color) url(./images/showCase.png) no-repeat center;
  background-size: cover;
  opacity: 0.4;
}

.headersButton {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid #666;
  background-color: var(--dark-color);
  color: var(--light-color);
  text-decoration: none;
}

.headersButton:hover {
  color: var(--dark-color);
  background-color: var(--light-gray-color);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  justify-items: center;
}

.card {
  margin: 10px;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.card img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
}

.cardInformation {
  padding: 1em;
}

.sectionD a {
  color: var(--light-color);
}

.footer a {
  color: var(--blue-color);
}

/* Media Queries */

@media screen and (max-width: 927px) {
  .gridSectionContent {
    margin: 45px 0;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 656px) {
  .gridContainer {
    grid-template: repeat(6, auto) / 1fr;
    grid-template-areas:
      'header'
      'sectionA'
      'sectionB'
      'sectionC'
      'sectionD'
      'sectionE'
      'footer';
  }

  .footer.gridSection {
    grid-template: 1fr 1fr / 1fr;
  }

  .sectionA .textContent {
    column-count: 1;
  }
}
